$light-color: white;
$dark-color: #181818;

$light-link-color: #0050B3;
$dark-link-color: #80C6FF;

body {
  background-color: $light-color;
  color: $dark-color;
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-style: normal;
  font-weight: 400;
  padding: 4vw 1rem;
  text-align: center;

  @media (prefers-color-scheme: dark) {
    background-color: $dark-color;
    color: $light-color;
  }
}

h1 {
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 0.5em;

  @media (min-width: 25rem) {
    font-size: 3rem;
  }

  @media (min-width: 35rem) {
    font-size: 4rem;
  }

  @media (min-width: 50rem) {
    font-size: 5rem;
  }
}

main {
  margin: 0 auto;
  max-width: 50rem;

  @media (min-width: 40rem) {
    display: grid;
    grid-column-gap: 2rem;
    grid-template-areas:
      "icon text"
      "download download"
      "screenshot screenshot";
  }
}

a {
  color: $light-link-color;

  &:focus,
  &:hover {
    color: lighten($light-link-color, 20%);
  }

  @media (prefers-color-scheme: dark) {
    color: $dark-link-color;

    &:focus,
    &:hover {
      color: lighten($dark-link-color, 10%);
    }
  }
}

blockquote {
  margin: 0;
  padding-left: 1rem;
  border-left: 5px solid darken($light-color, 25%);

  @media (prefers-color-scheme: dark) {
    border-left: 5px solid lighten($dark-color, 25%);
  }
}

.text {
  grid-area: text;
  text-align: left;
}

.icon {
  grid-area: icon;
  width: 16rem;

  @media (min-width: 40rem) {
    float: left;
  }
}

.screenshot {
  display: block;
  grid-area: screenshot;
  margin: 0 -4.25%;

  img {
    width: 100%;
  }
}

.download-section {
  grid-area: download;
  margin: 2rem 0;
  text-align: center;
}

.download-button {
  background: $dark-color;
  border-radius: 0.5rem;
  color: $light-color;
  font-weight: 700;
  padding: 0.5rem 2rem 0.5rem 1.5rem;
  text-decoration: none;

  &:focus,
  &:hover {
    background: lighten($dark-color, 10%);
    color: $light-color;
  }

  @media (prefers-color-scheme: dark) {
    background: $light-color;
    color: $dark-color;

    &:focus,
    &:hover {
      background: darken($light-color, 10%);
      color: $dark-color;
    }
  }
}
