---
title: Persephone
---

<header role="banner">
  <h1>Persephone</h1>

  <h2>A modern, open source MPD client for macOS.</h2>
</header>

<main>
  <img class="icon" src="/images/icon-512.png" alt="">

  <div class="text">
    <h3>MP… what?</h3>

    <p>From the <a href="https://www.musicpd.org" rel="nofollow">website</a>:</p>

    <blockquote>
      <p>
        “Music Player Daemon (MPD) is a flexible, powerful, server-side
        application for playing music. Through plugins and libraries it can play a
        variety of sound files while being controlled by its network protocol.”
      </p>
    </blockquote>

    <p>
      Wikipedia has a
      <a href="https://en.wikipedia.org/wiki/Music_Player_Daemon" rel="nofollow">more comprehensive description</a>.
    </p>
  </div>

  <div class="download-section">
    <a class="download-button" href="https://f001.backblazeb2.com/file/persephone/Persephone-0.15.0-alpha.zip">↓ Download 0.15.0-alpha</a>
  </div>

  <picture class="screenshot">
    <source srcset="/images/screenshot-dark.png" media="(prefers-color-scheme: dark)">
    <img src="/images/screenshot-light.png">
  </picture>
</main>

<footer>
  <p><a href="https://github.com/danbee/persephone">Source on GitHub</a></p>
</footer>
